.grid-container {
  max-width: $xl-screen-width;
  margin: 0 auto;
}

.grid-row {
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  // Remove Wrap
  &--no-wrap {
    flex-wrap: nowrap;
  }
}

.grid-col {
  box-sizing: border-box;
  background-color: green;
  // Column %
  @for $i from 1 to $total-columns {
    &--#{$i} {
      width: percentage($i/$total-columns);
    }
  }

  &--padding-left {
    padding-left: $gutter;
  }

  &--padding-right {
    padding-right: $gutter;
  }

  &--margin-left {
    margin-left: $gutter;
  }

  &--margin-right {
    margin-right: $gutter;
  }
}
