// Breakpoints
$small-devices-width: 576px;
$tablet-width: 768px;
$desktop-width: 992px;
$xl-screen-width: 1200px;

// Grid
$total-columns: 12;
$base-spacing: 0.5rem;
$base-font-size: 16px;
$spaceamounts: (
  8: 0.5,
  // 12,
    // 16,
    // 20,
    // 24,
    // 32,
    // 40,
    // 48,
    // 56,
    // 64,
    // 72,
    // 80,
    // 88,
    // 96,
    // 104,
    // 112,,,,
); // Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right); // Leave this variable alone
